{
  "version": 1.0,
  "project": "MGL-${repo}-${branch}",
  "team": "CxServer",
  "sast": {
    "preset": "Checkmarx Default",
    "engineConfiguration": "Default Configuration",
    "incremental": "false",
    "forceScan": "true",
    "fileExcludes": "",
    "folderExcludes": ""
  },
  "additionalProperties": {
    "cxFlow": {
      "application": "test app",
      "branches": ["develop", "main", "master"],
      "emails": ["miguel.gonzalez@checkmarx.com"],
      "bugTracker": "JIRA|GitLab|GitHub|Azure",
    }
  }
}
