{
  "version": 1.0,
  "project": "MGL-${repo}-${branch}",
  "team": "/CxServer",
  "sast": {
    "preset": "Checkmarx Default",
    "engineConfiguration": "Default",
    "incremental": "false",
    "forceScan": "true",
    "fileExcludes": "",
    "folderExcludes": ""
  },
  "additionalProperties": {
    "cxFlow": {
      "application": "JVL",
      "branches": ["develop", "main", "master"],
      "emails": ["miguel.gonzalez@checkmarx.com"],
      "bugTracker": "NONE",
      "filters": {
        "severity": ["High", "Medium"]
      }
    }
  }
}
